body
  background-color: #161616

.main-div
  font-family: 'Roboto', sans-serif
  text-align: center
  max-width: 944px
  .title
    padding: 20px 0px 50px 0px
    h1
      color: #fff
      font-size: 60px
  .weather-info
    color: #fff
    font-size: 27px
    opacity: 0.1
    transition: all .25s
    span#unit
      color: #5290c3
      cursor: pointer
  .default, .divToHide
    transition: all .25s
    opacity: 0.1
  .update
    input
      outline: none
      background-color: #5290c3
      font-size: 17px
      color: #fff
      transition: all .25s
      &:hover
        background-color: #396588
      &:active
        outline: none
